<<<<<<< HEAD
html,body{
  height:100%;
}
.admin{
  width:100%;
  height:100%;
=======
body,html,#root{
  height: 100%;
}
.admin{
  width:100%;
  height: 100%;
>>>>>>> home1
  display: flex;
  .admin-nav{
    width:200px;
    height:100%;
    background: #001529;
    color:#A6ADB4;
  }
  .admin-right{
    flex:1;
    background:#fff ;
    .header{
      height:64px;
      line-height:64px;
      background: #ffffff;
      border-bottom: 1px solid #ccc;
    }
    
    .footer{
      position: fixed;
      bottom:20px;
      right:0;
    }
  }
}