.admin{
  width:100%;
  display: flex;
  .admin-nav{
    width:256px;
    height:1000px;
    background: #001529;
    color:#A6ADB4;
  }
  .admin-right{
    flex:1;
    background:#fff ;
    .header{
      height:64px;
      line-height:64px;
      background: #ffffff;
    }
    
    .footer{
      position: fixed;
      bottom:20px;
      right:0;
    }
  }
}