.admin{
  width:100%;
  display: flex;

  .admin-nav{
    width:256px;
    height:1000px;
    background: #001529;
    color:#A6ADB4;
  }
  .admin-right{
    flex:1;
    // background:#F0F2F5 ;
    .header{
      height:64px;
      line-height:64px;
      background: #ffffff;
    }
    
    .footer{
      position: fixed;
      bottom:20px;
      right:0;
    }
  }
}
.cell{
  background-color: #eef1f6; 
  height: 40px;
  line-height: 30px;
  word-break: break-all;
  border-bottom: 1px solid #dfe6ec;
  vertical-align: middle;
  font-size: 14px;
  width: 100%;
  padding:0 18px;
}
.el-table {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  // background-color: #fff;
  border: 1px solid #dfe6ec;
  font-size: 14px;
  color: #1f2d3d;
  color: blue;
}
.cell1{
  height: 40px;
}
.cel{
  // background-color: #fff; 
  // border-bottom: 1px solid #dfe6ec;
  padding:0 18px;
  height:100%;
  line-height: 24px;
}
.middle{
  padding: 20px;
}
tr{th,td{
  padding: 0;

}}
.el-button+.el-button {
  margin-left: 10px;
}
.el-button--mini {
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
}
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #c4c4c4;
  color: #1f2d3d;
  margin: 0;
  // padding: 10px 15px;
  border-radius: 4px;
}
.el-button--danger {
  color: #fff;
  background-color: #ff4949;
  border-color: #ff4949;
}
.el-button--mini1{
  color: #fff;
  background-color: #ff4949;
  border-color: #ff4949;
  padding: 4px;
}