*{
    margin:0;
    padding:0;
}
.nav-list{

    height:100%;
    ul{
        height:100%;
        background:#324057;
        color:#BFCBD9;
        li{
                padding-left: 20px;
                li{
                    color:#BFCBD9;
            }
        }
    }
}